<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClientRegisterServlet</servlet-name>
        <servlet-class>ClientRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LawyerRegisterServlet</servlet-name>
        <servlet-class>LawyerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLawyersServlet</servlet-name>
        <servlet-class>SearchLawyersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCaseServlet</servlet-name>
        <servlet-class>UploadCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCasesServlet</servlet-name>
        <servlet-class>GetCasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewCasesServlet</servlet-name>
        <servlet-class>GetNewCasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptCaseServlet</servlet-name>
        <servlet-class>AcceptCaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetActiveCasesServlet</servlet-name>
        <servlet-class>GetActiveCasesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLawyerProfileServlet</servlet-name>
        <servlet-class>UpdateLawyerProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLawyerStatsServlet</servlet-name>
        <servlet-class>GetLawyerStatsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AiSupportServlet</servlet-name>
        <servlet-class>AiSupportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotificationsServlet</servlet-name>
        <servlet-class>GetNotificationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkNotificationsReadServlet</servlet-name>
        <servlet-class>MarkNotificationsReadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCaseChatListServlet</servlet-name>
        <servlet-class>GetCaseChatListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCaseMessagesServlet</servlet-name>
        <servlet-class>GetCaseMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCaseMessageServlet</servlet-name>
        <servlet-class>SendCaseMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCaseTimelineServlet</servlet-name>
        <servlet-class>GetCaseTimelineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCaseStatusServlet</servlet-name>
        <servlet-class>UpdateCaseStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdminLawyersServlet</servlet-name>
        <servlet-class>GetAdminLawyersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLawyerActionServlet</servlet-name>
        <servlet-class>AdminLawyerActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdminLogsServlet</servlet-name>
        <servlet-class>GetAdminLogsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdminComplaintsServlet</servlet-name>
        <servlet-class>GetAdminComplaintsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateComplaintStatusServlet</servlet-name>
        <servlet-class>UpdateComplaintStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <servlet-class>SubmitReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitComplaintServlet</servlet-name>
        <servlet-class>SubmitComplaintServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetClientCaseTrackerServlet</servlet-name>
        <servlet-class>GetClientCaseTrackerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdminStatsServlet</servlet-name>
        <servlet-class>GetAdminStatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientRegisterServlet</servlet-name>
        <url-pattern>/ClientRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LawyerRegisterServlet</servlet-name>
        <url-pattern>/LawyerRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLawyersServlet</servlet-name>
        <url-pattern>/SearchLawyersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCaseServlet</servlet-name>
        <url-pattern>/UploadCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCasesServlet</servlet-name>
        <url-pattern>/GetCasesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewCasesServlet</servlet-name>
        <url-pattern>/GetNewCasesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptCaseServlet</servlet-name>
        <url-pattern>/AcceptCaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActiveCasesServlet</servlet-name>
        <url-pattern>/GetActiveCasesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLawyerProfileServlet</servlet-name>
        <url-pattern>/UpdateLawyerProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLawyerStatsServlet</servlet-name>
        <url-pattern>/GetLawyerStatsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AiSupportServlet</servlet-name>
        <url-pattern>/AiSupportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotificationsServlet</servlet-name>
        <url-pattern>/GetNotificationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkNotificationsReadServlet</servlet-name>
        <url-pattern>/MarkNotificationsReadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCaseChatListServlet</servlet-name>
        <url-pattern>/GetCaseChatListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCaseMessagesServlet</servlet-name>
        <url-pattern>/GetCaseMessagesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCaseMessageServlet</servlet-name>
        <url-pattern>/SendCaseMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCaseTimelineServlet</servlet-name>
        <url-pattern>/GetCaseTimelineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCaseStatusServlet</servlet-name>
        <url-pattern>/UpdateCaseStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdminLawyersServlet</servlet-name>
        <url-pattern>/GetAdminLawyersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLawyerActionServlet</servlet-name>
        <url-pattern>/AdminLawyerActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdminLogsServlet</servlet-name>
        <url-pattern>/GetAdminLogsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdminComplaintsServlet</servlet-name>
        <url-pattern>/GetAdminComplaintsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateComplaintStatusServlet</servlet-name>
        <url-pattern>/UpdateComplaintStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <url-pattern>/SubmitReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitComplaintServlet</servlet-name>
        <url-pattern>/SubmitComplaintServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetClientCaseTrackerServlet</servlet-name>
        <url-pattern>/GetClientCaseTrackerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdminStatsServlet</servlet-name>
        <url-pattern>/GetAdminStatsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
